@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  font-size: 15px;
}

header {
  height: 20%;
  background: url(../images/pattern-circles.svg) center no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  color: #293356;
  font-size: 1.5rem;
  font-weight: 800;
}

header h2 {
  width: 55%;
  margin: 0.5rem auto;
  color: #858fad;
}

article {
  width: 90%;
  height: 50%;
  color: #858fad;
  background-color: white;
  border-radius: 15px;
}

article .top {
  margin: 2rem 1rem;
}

article .pageviews {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 800;
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}

article input[type='range'] {
  width: 90%;
  -webkit-appearance: none;
  border-radius: 15px;
}

article input[type='range']:focus {
  outline: none;
}

article input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  -webkit-appearance: none;
  cursor: pointer;
  background: #fafbff;
  border-radius: 15px;
  border: none;
}

article input[type='range']::-webkit-slider-thumb {
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: #10d5c2;
  background-image: url(../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  -webkit-appearance: none;
  margin-top: -10px;
  -webkit-box-shadow: 0 10px 25px 10px rgba(16, 213, 194, 0.2);
          box-shadow: 0 10px 25px 10px rgba(16, 213, 194, 0.2);
  border: none;
}

article input[type='range']::-moz-range-track {
  width: 100%;
  height: 8.4px;
  -webkit-appearance: none;
  cursor: pointer;
  background: #fafbff;
  border-radius: 15px;
  border: none;
}

article input[type='range']::-moz-range-thumb {
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: #10d5c2;
  background-image: url(../images/icon-slider.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  -webkit-appearance: none;
  margin-top: -10px;
  box-shadow: 0 10px 25px 10px rgba(16, 213, 194, 0.2);
  border: none;
}

article input[type='range']::-moz-range-progress {
  height: 8.4px;
  border-radius: 15px;
  background-color: #a5f3eb;
}

article .monthly-price {
  padding: 2rem 0;
}

article .monthly-price #price-num {
  color: #293356;
  font-size: 2rem;
  font-weight: 800;
  vertical-align: middle;
  padding-right: 0.5rem;
  letter-spacing: -1px;
}

article .billing span {
  font-size: 15px;
  padding: 0 0.3rem;
}

article .billing .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

article .billing .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

article .billing .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

article .billing .switch .slider::before {
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

article .billing .switch input:checked + .slider {
  background-color: #a5f3eb;
}

article .billing .switch input:checked + .slider:before {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

article .billing .switch .round {
  width: 100%;
  border-radius: 34px;
}

article .billing .switch .round:before {
  border-radius: 50%;
}

article .billing .discount {
  background-color: #feece7;
  color: #ff8c66;
  padding: 2px 8px;
  border-radius: 15px;
  font-size: 0.8rem;
  letter-spacing: 0.5%;
}

article hr {
  border: none;
  border-top: 2px solid #fafbff;
}

article .bottom ul {
  padding: 1rem;
  list-style-type: none;
}

article .bottom ul li {
  margin: 0.5rem auto;
}

article .bottom ul li img {
  margin-right: 1rem;
}

article .bottom button {
  border: none;
  padding: 0.7rem 3rem;
  border-radius: 30px;
  color: #bdccff;
  background-color: #293356;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: #fafbff;
}

.container {
  width: 375px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
